.questionstextpos {
  bottom: 7.5rem;
}

.textstyle {
  font-size: 2.3rem;
  text-shadow: 3.5px 2.5px 3px #39311d;
  letter-spacing: 0.05rem;
  margin: 0rem;
  padding: 0rem;
}
// 32 INCH MONITOR - TESTED W/ LOCAL MACHINE
@media (min-width: 1920px) and (min-height: 1001px) and (orientation: landscape) {
}

// // Question Card
// .questionsto {
//   left: -76rem;
// }

// .questionsbgpos {
//   bottom: 36rem;
// }

// .questionstextpos {
//   bottom: 37rem;
//   left: -60rem;
// }

// // Info Card

// .infoto {
//   right: -76rem;
// }

// .infobgpos {
//   bottom: 27rem;
// }

// .infotextpos {
//   bottom: 28.2rem;
//   right: -61.8rem;
// }

// .infotextstyle {
//   font-size: 2.25rem;
//   text-shadow: 3.5px 2.5px 3px #39311d;
//   letter-spacing: 0.05rem;
// }

// // Business Card

// .businessto {
//   left: -76rem;
// }

// .businessbgpos {
//   bottom: 18rem;
// }

// .businesstextpos {
//   bottom: 19rem;
//   left: -62.2rem;
// }

// .businesstextstyle {
//   font-size: 2.3rem;
//   text-shadow: 3.5px 2.5px 3px #39311d;
//   letter-spacing: 0.05rem;
// }

// // Social Card

// .socialto {
//   right: -76rem;
// }

// .socialbgpos {
//   bottom: 9rem;
// }

// .socialtextpos {
//   bottom: 10rem;
//   right: -62.3rem;
// }

// .socialtextstyle {
//   font-size: 2.25rem;
//   text-shadow: 3.5px 2.5px 3px #39311d;
//   letter-spacing: 0.05rem;
// }

// // Social Links
// .sociallinks {
//   bottom: -8rem;
// }

// // Media Queries
// // @import './1-contact-responsive.scss';

// // IPHONE 4 - CHROME DEVTOOLS - PORTRAIT
// @media (min-width: 320px) and (min-height: 480px) and (orientation: portrait) {
//   .sociallinks {
//     bottom: -5rem;
//     height: 0rem;
//   }
//   .socialbgpos {
//     bottom: 6rem;
//   }
//   .socialto {
//     left: 63rem;
//   }

//   .socialtextstyle {
//     font-size: 1.6rem;
//   }

//   .socialtextpos {
//     bottom: 7.5em;
//     left: 63.5rem;
//   }
// }
