.textstyle {
  font-size: 1.4rem;
  text-shadow: 3.5px 2.5px 3px #39311d;
  letter-spacing: 0.05rem;
  margin: 0rem;
  padding: 0rem;
}

.sociallinks {
  bottom: -9.5rem;
}

// IPHONE 4 - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 320px) and (min-height: 480px) and (orientation: portrait) {
  .questionscard {
    bottom: 19.5rem;
    left: 1rem;
  }

  .infocard {
    bottom: 14rem;
    right: 1rem;
  }

  .businesscard {
    bottom: 8.5rem;
    left: 1rem;
  }

  .socialcard {
    bottom: 3rem;
    right: 1rem;
  }

  .textpos {
    bottom: 4.5rem;
  }
}

// IPHONE 5-SE - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 320px) and (min-height: 568px) and (orientation: portrait) {
  .questionscard {
    bottom: 23rem;
    left: 1rem;
  }

  .infocard {
    bottom: 17rem;
    right: 1rem;
  }

  .businesscard {
    bottom: 11rem;
    left: 1rem;
  }

  .socialcard {
    bottom: 5rem;
    right: 1rem;
  }

  .textpos {
    bottom: 4.6rem;
  }

  .socialtextpos {
    bottom: 4.5rem;
  }

  .sociallinks {
    bottom: -8rem;
  }
}

// Galaxy S5- CHROME DEVTOOLS - PORTRAIT
@media (min-width: 360px) and (min-height: 640px) and (orientation: portrait) {
  .questionscard {
    bottom: 25rem;
    left: 1rem;
  }

  .infocard {
    bottom: 18rem;
    right: 1rem;
  }

  .businesscard {
    bottom: 11rem;
    left: 1rem;
  }

  .socialcard {
    bottom: 4rem;
    right: 1rem;
  }

  .textstyle {
    font-size: 1.6rem;
  }

  .textpos {
    bottom: 5.2rem;
  }

  .questionstextpos {
    bottom: 5.3rem;
  }

  .socialtextpos {
    bottom: 5rem;
  }

  .sociallinks {
    bottom: -9rem;
  }
}

// IPHONE 6/7/8 - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 375px) and (min-height: 667px) and (orientation: portrait) {
  .questionscard {
    bottom: 27rem;
    left: 1rem;
  }

  .infocard {
    bottom: 20rem;
    right: 1rem;
  }

  .businesscard {
    bottom: 13rem;
    left: 1rem;
  }

  .socialcard {
    bottom: 6rem;
    right: 1rem;
  }

  .textstyle {
    font-size: 1.6rem;
  }

  .textpos {
    bottom: 5.3rem;
  }

  .questionstextpos {
    bottom: 5.4rem;
  }

  .socialtextpos {
    bottom: 5.2rem;
  }

  .sociallinks {
    bottom: -7.5rem;
  }
}
