// Question Card
.questionsfrom {
  left: -76rem;
}

.questionsbgpos {
  bottom: 36rem;
}

.questionstextpos {
  bottom: 36.8rem;
  left: -61.7rem;
}

.questionstextstyle {
  font-size: 2.7rem;
  text-shadow: 3.5px 2.5px 3px #39311d;
  letter-spacing: 0.05rem;
}

// Info Card

.infofrom {
  right: -19.8rem;
}

.infobgpos {
  bottom: 27rem;
}

.infotextpos {
  bottom: 27.7rem;
  right: -4.8rem;
}

.infotextstyle {
  font-size: 2.7rem;
  text-shadow: 3.5px 2.5px 3px #39311d;
  letter-spacing: 0.05rem;
}

// Business Card

.businessfrom {
  left: -76rem;
}

.businessbgpos {
  bottom: 18rem;
}

.businesstextpos {
  bottom: 18.7rem;
  left: -60rem;
}

.businesstextstyle {
  font-size: 2.7rem;
  text-shadow: 3.5px 2.5px 3px #39311d;
  letter-spacing: 0.05rem;
}

// Socials Card

.socialsfrom {
  right: -19.8rem;
}

.socialsbgpos {
  bottom: 9rem;
}

.socialstextpos {
  bottom: 9.7rem;
  right: -4.8rem;
}

.socialstextstyle {
  font-size: 2.5rem;
  text-shadow: 3.5px 2.5px 3px #39311d;
  letter-spacing: 0.05rem;
}
