.questionsbg {
  bottom: 35rem;
  left: -76rem;
}

.questionstextone {
  left: -68.2rem;
  bottom: 16.5rem;
  font-size: 3.4rem;
  text-shadow: 3px 2px #39311d;
  letter-spacing: 0.05rem;
}

.questionstexttwo {
  left: -75rem;
  bottom: 13.5rem;
  font-size: 3rem;
  text-shadow: 4px 3px #39311d;
}

.questionslink {
  left: -59.7rem;
  bottom: 13.5rem;
  font-size: 3rem;
  text-shadow: 4px 3px #39311d;
}

.questionstextthree {
  left: -55rem;
  bottom: 13.5rem;
  font-size: 3rem;
  text-shadow: 4px 3px #39311d;
}

// .questionstext {
//   bottom: 42.2rem;
//   left: -39.5rem;
//   font-size: 3rem;
//   text-shadow: 4px 3px 3px #39311d;
//   letter-spacing: 0.005rem;
// }

// @media (max-width: 576px) {
//   .questionsbg {
//     left: -80rem;
//   }
// }
