.canvascontainer {
  width: 100%;
  height: 100%;
  opacity: 0;
}

.canvasbackground {
  background: url('/1-images/canvas-bg.jpg') no-repeat center center;
  background-size: cover;
  display: none;
}

.menubuttonload {
  display: none;
  opacity: 0;
}
