.roottext {
  text-shadow: 0.2rem 0.12rem 0.07rem #4a3f35;
  opacity: 80%;
  letter-spacing: 0.3rem;
}

.invisiblerootbtn {
  // background-color: rgba(0, 255, 0, 0.144);
  border: none !important;
  outline: none !important;
  border-radius: 50%;
}

@import "./1-menubuttonroot-portrait.scss";
@import "./2-menubuttonroot-landscape.scss";
