//  IPHONE 4 - CHROME DEVTOOLS - PORTRIAT - BASE STYLES
@media (min-width: 320px) and (min-height: 480px) and (orientation: portrait) {
  .rootmenubutton {
    margin-top: 6rem;
  }

  .rootmenuimage,
  .invisiblerootbtn {
    height: 6rem;
    width: 4.5rem;
  }

  .roottext {
    padding-left: 0.2rem;
    padding-top: 1.5rem;
    font-size: 165%;
  }
}

// NOKIA LUMA 520 - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 320px) and (min-height: 533px) and (orientation: portrait) {
  .rootmenubutton {
    margin-top: 6.5rem;
  }
}

// IPHONE 5-SE - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 320px) and (min-height: 568px) and (orientation: portrait) {
  // NOTHING NEEDED
}

// NEXUS 5 - CHROME DEV TOOLS - PORTRAIT
@media (min-width: 360px) and (min-height: 512px) and (orientation: portrait) {
  .rootmenubutton {
    margin-top: 6.5rem;
  }
}

// NEXUS 5 - CHROME DEV TOOLS - PORTRAIT
@media (min-width: 360px) and (min-height: 567px) and (orientation: portrait) {
  //NOTHING NEEDED
}

// IPHONE 6 - TESTED W/ NGROK - PORTRAIT
@media (min-width: 375px) and (min-height: 553px) and (orientation: portrait) {
  .rootmenubutton {
    margin-top: 8rem;
  }

  .roottext {
    padding-left: 0.3rem;
    padding-top: 1.5rem;
  }
}

// Galaxy S5- CHROME DEVTOOLS - PORTRAIT
@media (min-width: 360px) and (min-height: 640px) and (orientation: portrait) {
  .rootmenubutton {
    margin-top: 8rem;
  }

  .rootmenuimage,
  .invisiblerootbtn {
    height: 6.5rem;
    width: 5rem;
  }

  .roottext {
    padding-left: 0.3rem;
    padding-top: 1.5rem;
    font-size: 185%;
  }
}

// LG Optimus L70 - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 384px) and (min-height: 640px) and (orientation: portrait) {
  .rootmenuimage,
  .invisiblerootbtn {
    height: 7rem;
    width: 5.5rem;
  }

  .roottext {
    font-size: 210%;
  }
}

// NEXUS 5X - CHORME DEVTOOLS - PORTRAIT
@media (min-width: 412px) and (min-height: 604px) and (orientation: portrait) {
  .rootmenuimage,
  .invisiblerootbtn {
    height: 7.5rem;
    width: 5.7rem;
  }

  .roottext {
    padding-top: 1.7rem;
    font-size: 230%;
  }
}

// NEXUS 5X - CHORME DEVTOOLS - PORTRAIT
@media (min-width: 412px) and (min-height: 660px) and (orientation: portrait) {
  // NOTHING NEEDED
}

// IPHONE 6/7/8 - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 375px) and (min-height: 667px) and (orientation: portrait) {
  // NOTHING NEEDED
}

// IPHONE XR - TESTED W/ NGROK - PORTRAIT
@media (min-width: 414px) and (min-height: 715px) and (orientation: portrait) {
  .rootmenubutton {
    margin-top: 9rem;
  }
}

// IPHONE X - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 375px) and (min-height: 812px) and (orientation: portrait) {
  .roottext {
    padding-left: 0.3rem;
    padding-top: 1.6rem;
  }
}

// PIXEL 2 - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 411px) and (min-height: 731px) and (orientation: portrait) {
  .rootmenubutton {
    margin-top: 9rem;
  }

  .rootmenuimage,
  .invisiblerootbtn {
    height: 7.5rem;
    width: 5.7rem;
  }

  .roottext {
    padding-top: 1.7rem;
    font-size: 230%;
  }
}

// NEXUS 6 - CHORME DEVTOOLS - PORTRAIT
@media (min-width: 412px) and (min-height: 732px) and (orientation: portrait) {
  // NOTHING NEEDED
}

// IPHONE 6/7/8 PLUS - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 414px) and (min-height: 736px) and (orientation: portrait) {
  // NOTHING NEEDED
}

// PIXEL 2XL- CHROME DEVTOOLS - PORTRAIT
@media (min-width: 411px) and (min-height: 823px) and (orientation: portrait) {
  // NOTHING NEEDED
}

// NOKIA N9 - CHROME DEV TOOLS - PORTRAIT
@media (min-width: 480px) and (min-height: 854px) and (orientation: portrait) {
  .rootmenubutton {
    margin-top: 11rem;
  }

  .rootmenuimage,
  .invisiblerootbtn {
    height: 8rem;
    width: 6.2rem;
  }

  .roottext {
    padding-top: 1.9rem;
    font-size: 250%;
  }
}

// GALAXY FOLD - CHROME DEV TOOLS - PORTRAIT
@media (min-width: 500px) and (min-height: 700px) and (orientation: portrait) {
  .rootmenubutton {
    margin-top: 11rem;
  }

  .rootmenuimage,
  .invisiblerootbtn {
    height: 8rem;
    width: 6.2rem;
  }

  .roottext {
    padding-top: 1.9rem;
    font-size: 250%;
  }
}

// SURFACE DUO - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 540px) and (min-height: 720px) and (orientation: portrait) {
  // NOTHING NEEDED
}

// NEXUS 7 - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 600px) and (min-height: 960px) and (orientation: portrait) {
  .rootmenubutton {
    margin-top: 12rem;
  }

  .rootmenuimage,
  .invisiblerootbtn {
    height: 8rem;
    width: 6.2rem;
  }

  .roottext {
    padding-top: 1.9rem;
    font-size: 250%;
  }
}

// IPAD MINI - TESTED WITH NGROK - PORTRAIT
@media (min-width: 665px) and (min-height: 921px) and(orientation: portrait) {
  .rootmenubutton {
    margin-top: 13rem;
  }

  .rootmenuimage,
  .invisiblerootbtn {
    height: 8.5rem;
    width: 6.7rem;
  }

  .roottext {
    padding-top: 1.9rem;
    font-size: 270%;
  }
}

// IPAD MINI - TESTED WITH NGROK - PORTRAIT
@media (min-width: 768px) and (min-height: 921px) and(orientation: portrait) {
  // NOTHING NEEDED
}

// IPAD 2019 - TESTED WITH NGROK - LANDSCAPE
@media (min-width: 810px) and (min-height: 977px) and (orientation: portrait) {
  .rootmenubutton {
    margin-top: 15rem;
  }

  .rootmenuimage,
  .invisiblerootbtn {
    height: 9rem;
    width: 7.2rem;
  }

  .roottext {
    font-size: 290%;
  }
}

// BLACKBERRY PLAYBOOK - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 600px) and (min-height: 1024px) and (orientation: portrait) {
  .rootmenubutton {
    margin-top: 13rem;
  }

  .rootmenuimage,
  .invisiblerootbtn {
    height: 9rem;
    width: 7.2rem;
  }

  .roottext {
    font-size: 290%;
  }
}

// IPAD - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 768px) and (min-height: 1024px) and (orientation: portrait) {
  .rootmenubutton {
    margin-top: 15rem;
  }
}

// IPAD PRO - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 1024px) and (min-height: 1366px) and (orientation: portrait) {
  .rootmenubutton {
    margin-top: 16rem;
  }

  .rootmenuimage,
  .invisiblerootbtn {
    height: 10rem;
    width: 8.2rem;
  }

  .roottext {
    padding-top: 2.1rem;
    font-size: 330%;
  }
}
