// UNIVERSAL STYLES
.aboutpage {
  background: url('/2-images/3-about/0-aboutpage.png') no-repeat center center;
  background-size: cover;
}

.mobileabouttext {
  text-shadow: 3.5px 2.5px 2px #39311d;
}

.storynavs:focus {
  outline: none;
  box-shadow: none;
}

.mobileabouttext {
  margin: 0rem;
  padding: 0.2rem;
}

.page1textamobile {
  margin: 0rem;
  padding: 0rem;
}

.booknavbackward {
  transform: rotateY(180deg);
}

// IPHONE 4 - CHROME DEVTOOLS
@media (min-width: 320px) and (min-height: 480px) and (orientation: portrait) {
  .mobileaboutbookcontainer {
    width: 640px;
    height: 856px;
    left: -19.95rem;
    bottom: -73rem;
  }

  .storynavs {
    width: 80px;
    height: 27px;
    bottom: -61.7rem;
  }

  .booknavforward {
    left: 14.5rem;
  }

  .booknavbackward {
    left: 0.5rem;
  }

  .mobileabouttext {
    font-size: 2rem;
  }

  .page1textamobile {
    font-size: 5rem;
  }
}

// IPHONE 5-SE - CHROME DEVTOOLS
@media (min-width: 320px) and (min-height: 568px) and (orientation: portrait) {
  .mobileaboutbookcontainer {
    width: 640px;
    height: 856px;
    left: -19.95rem;
    bottom: -69rem;
  }

  .storynavs {
    width: 90px;
    height: 31px;
    bottom: -58.5rem;
  }

  .booknavforward {
    left: 13rem;
  }

  .booknavbackward {
    left: 2rem;
  }

  .mobileabouttext {
    font-size: 2rem;
  }

  .page1textamobile {
    font-size: 5rem;
    margin: 0rem;
    padding: 0rem;
  }
}

// Galaxy S5- CHROME DEVTOOLS
@media (min-width: 360px) and (min-height: 640px) and (orientation: portrait) {
  .mobileaboutbookcontainer {
    width: 725px;
    height: 969px;
    left: -22.7rem;
    bottom: -72rem;
  }

  .storynavs {
    width: 120px;
    height: 41px;
    bottom: -60.2rem;
  }

  .booknavforward {
    left: 14.5rem;
  }

  .booknavbackward {
    left: 1rem;
  }

  .mobileabouttext {
    font-size: 2.4rem;
  }

  .page1textamobile {
    font-size: 6.3rem;
  }

  .page9textamobile {
    font-size: 2.3rem;
  }
}

// IPHONE 6/7/8 - CHROME DEVTOOLS
@media (min-width: 375px) and (min-height: 667px) and (orientation: portrait) {
  .mobileaboutbookcontainer {
    width: 750px;
    height: 1003px;
    left: -23.4rem;
    bottom: -71.5rem;
  }

  .storynavs {
    width: 110px;
    height: 38px;
    bottom: -59.2rem;
  }

  .booknavforward {
    left: 15rem;
  }

  .booknavbackward {
    left: 2.5rem;
  }

  .mobileabouttext {
    font-size: 2.4rem;
  }

  .page1textamobile {
    font-size: 5rem;
  }

  .page5textamobile {
    font-size: 2.3rem;
  }

  .page7textamobile {
    font-size: 2.2rem;
  }
  .page9textamobile {
    font-size: 2.6rem;
  }
  .page11textamobile {
    font-size: 3rem;
  }
  .page13textamobile {
    font-size: 2.8rem;
  }
}

// IPHONE 6/7/8 PLUS - CHROME DEVTOOLS
@media (min-width: 414px) and (min-height: 736px) and (orientation: portrait) {
  .mobileaboutbookcontainer {
    width: 825px;
    height: 1103px;
    left: -25.7rem;
    bottom: -72rem;
  }

  .storynavs {
    width: 110px;
    height: 38px;
    bottom: -59rem;
  }

  .booknavforward {
    left: 17rem;
  }

  .booknavbackward {
    left: 3rem;
  }

  .mobileabouttext {
    font-size: 2.7rem;
  }

  .page1textamobile {
    font-size: 6.5rem;
  }

  .page5textamobile {
    font-size: 2.5rem;
  }
  .page9textamobile {
    font-size: 2.6rem;
  }
}

// IPHONE XR - TESTED W/ NGROK
@media (min-width: 414.98px) and (min-height: 715.98px) and (orientation: portrait) {
  .mobileaboutbookcontainer {
    width: 825px;
    height: 1103px;
    left: -25.65rem;
    bottom: -73rem;
  }

  .storynavs {
    width: 120px;
    height: 41px;
    bottom: -59.5rem;
  }

  .booknavforward {
    left: 16.5rem;
  }

  .booknavbackward {
    left: 3rem;
  }

  .mobileabouttext {
    font-size: 2.7rem;
  }

  .page1textamobile {
    font-size: 6.5rem;
  }

  .page5textamobile {
    font-size: 2.5rem;
  }
  .page9textamobile {
    font-size: 2.6rem;
  }
}

// IPHONE X - CHROME DEVTOOLS
@media (min-width: 375px) and (min-height: 812px) and (orientation: portrait) {
  .mobileaboutbookcontainer {
    width: 750px;
    height: 1003px;
    left: -23.35rem;
    bottom: -68rem;
  }

  .storynavs {
    width: 120px;
    height: 41px;
    bottom: -57.5rem;
  }

  .booknavforward {
    left: 13.5rem;
  }

  .booknavbackward {
    left: 3rem;
  }

  .mobileabouttext {
    font-size: 2.6rem;
  }

  .page1textamobile {
    font-size: 6.3rem;
  }

  .page5textamobile {
    font-size: 2.5rem;
  }
  .page13textamobile {
    font-size: 2.5rem;
  }
}

// PIXEL 2 - CHROME DEVTOOLS
@media (min-width: 411px) and (min-height: 731px) and (orientation: portrait) {
  .mobileaboutbookcontainer {
    width: 825px;
    height: 1103px;
    left: -25.75rem;
    bottom: -73rem;
  }

  .storynavs {
    width: 120px;
    height: 41px;
    bottom: -59.4rem;
  }

  .booknavforward {
    left: 15.5rem;
  }

  .booknavbackward {
    left: 3rem;
  }

  .mobileabouttext {
    font-size: 2.6rem;
  }

  .page1textamobile {
    font-size: 6.3rem;
  }

  .page5textamobile {
    font-size: 2.5rem;
  }
  .page7textamobile {
    font-size: 2.5rem;
  }
}

// PIXEL 2XL- CHROME DEVTOOLS
@media (min-width: 411px) and (min-height: 823px) and (orientation: portrait) {
  .mobileaboutbookcontainer {
    width: 825px;
    height: 1103px;
    left: -25.75rem;
    bottom: -70rem;
  }

  .storynavs {
    width: 120px;
    height: 41px;
    bottom: -58rem;
  }

  .booknavforward {
    left: 15.5rem;
  }

  .booknavbackward {
    left: 3rem;
  }

  .mobileabouttext {
    font-size: 2.6rem;
  }

  .page1textamobile {
    font-size: 6.3rem;
  }

  .page5textamobile {
    font-size: 2.5rem;
  }
  .page7textamobile {
    font-size: 2.5rem;
  }
}
