.aboutpage {
  background: url('/2-images/3-about/0-aboutpage.png') no-repeat center center;
  background-size: cover;
}

.mobileabouttext {
  text-shadow: 3.5px 2.5px 2px #39311d;
}

.storynavs:focus {
  outline: none;
  box-shadow: none;
}

.mobileabouttext {
  margin: 0rem;
  padding: 0.2rem;
}

.page1textamobile {
  margin: 0rem;
  padding: 0rem;
}

@media (min-width: 320px) and (min-height: 480px) and (orientation: portrait) {
  .mobileaboutbookcontainer {
    width: 640px;
    height: 856px;
    left: -19.95rem;
    bottom: -48rem;
  }

  .storynavs {
    width: 80px;
    height: 27px;
    bottom: -36.7rem;
  }

  .booknavforward {
    left: 14.5rem;
  }

  .booknavbackward {
    transform: rotateY(180deg);

    left: 0.5rem;
  }

  .mobileabouttext {
    font-size: 2rem;
  }

  .page1textamobile {
    font-size: 5rem;
  }
}

@media (min-width: 320px) and (min-height: 568px) and (orientation: portrait) {
  .mobileaboutbookcontainer {
    // background-color: lightskyblue;
    width: 640px;
    height: 856px;
    left: -19.95rem;
    bottom: -45rem;
  }

  .storynavs {
    width: 90px;
    height: 31px;
    bottom: -34.5rem;
  }

  .booknavforward {
    left: 13rem;
  }

  .booknavbackward {
    transform: rotateY(180deg);
    left: 2rem;
  }

  .mobileabouttext {
    font-size: 2rem;
  }

  .page1textamobile {
    font-size: 5rem;
    margin: 0rem;
    padding: 0rem;
  }
}

@media (min-width: 375px) and (min-height: 667px) and (orientation: portrait) {
  .mobileaboutbookcontainer {
    // background-color: lightskyblue;
    width: 750px;
    height: 1003px;
    left: -23.4rem;
    bottom: -47rem;
  }

  .storynavs {
    width: 110px;
    height: 38px;
    bottom: -34.7rem;
  }

  .booknavforward {
    left: 15rem;
  }

  .booknavbackward {
    transform: rotateY(180deg);
    left: 2.5rem;
  }

  .mobileabouttext {
    font-size: 2.4rem;
  }

  .page1textamobile {
    font-size: 5rem;
  }

  .page5textamobile {
    font-size: 2.3rem;
  }

  .page7textamobile {
    font-size: 2.2rem;
  }
  .page9textamobile {
    font-size: 2.6rem;
  }
  .page11textamobile {
    font-size: 3rem;
  }
  .page13textamobile {
    font-size: 2.8rem;
  }
}

@media (min-width: 414px) and (min-height: 736px) and (orientation: portrait) {
  .mobileaboutbookcontainer {
    // background-color: lightskyblue;
    width: 825px;
    height: 1103px;
    left: -25.7rem;
    bottom: -47rem;
  }

  .storynavs {
    width: 110px;
    height: 38px;
    bottom: -34rem;
  }

  .booknavforward {
    left: 17rem;
  }

  .booknavbackward {
    transform: rotateY(180deg);
    left: 3rem;
  }

  .mobileabouttext {
    font-size: 2.7rem;
  }

  .page1textamobile {
    font-size: 6.5rem;
  }

  .page5textamobile {
    font-size: 2.5rem;
  }
  .page9textamobile {
    font-size: 2.6rem;
  }
}

@media (min-width: 414px) and (min-height: 736px) and (orientation: portrait) {
  .mobileaboutbookcontainer {
    width: 825px;
    height: 1103px;
    left: -25.7rem;
    bottom: -47rem;
  }

  .storynavs {
    width: 110px;
    height: 38px;
    bottom: -34rem;
  }

  .booknavforward {
    left: 17rem;
  }

  .booknavbackward {
    transform: rotateY(180deg);
    left: 3rem;
  }

  .mobileabouttext {
    font-size: 2.7rem;
  }

  .page1textamobile {
    font-size: 6.5rem;
  }

  .page5textamobile {
    font-size: 2.5rem;
  }
  .page9textamobile {
    font-size: 2.6rem;
  }
}

@media (min-width: 414.98px) and (min-height: 715.98px) and (orientation: portrait) {
  .mobileaboutbookcontainer {
    // background-color: lightskyblue;
    width: 825px;
    height: 1103px;
    left: -25.65rem;
    bottom: -49rem;
  }

  .storynavs {
    width: 120px;
    height: 41px;
    bottom: -35.2rem;
  }

  .booknavforward {
    left: 16.5rem;
  }

  .booknavbackward {
    transform: rotateY(180deg);
    left: 3rem;
  }

  .mobileabouttext {
    font-size: 2.7rem;
  }

  .page1textamobile {
    font-size: 6.5rem;
  }

  .page5textamobile {
    font-size: 2.5rem;
  }
  .page9textamobile {
    font-size: 2.6rem;
  }
}
