.menupagetext {
  letter-spacing: 40%;
  padding-left: 2%;
  letter-spacing: 0.4rem;
  opacity: 80%;
  text-shadow: 0.25rem 0.19rem 0.05rem #4a3f35;
}

.invisiblemenubtn {
  border-radius: 20%;
  // background-color: rgba(0, 255, 0, 0.144);
}

@import "./1-menubuttonpage-portrait.scss";
@import "./2-menubuttonpage-landscape.scss";
