//  IPHONE 4 - CHROME DEVTOOLS - PORTRIAT - BASE STYLES
@media (min-width: 320px) and (min-height: 480px) and (orientation: portrait) {
  .menupageimage {
    bottom: -23.7rem;
  }

  .menubtn {
    bottom: -13rem;
  }

  .menupagetext {
    font-size: 3rem;
    bottom: -13.5rem;
    padding-left: 2.5%;
  }

  .invisiblemenubtn {
    height: 3rem;
    width: 7.5rem;
  }
}

// NOKIA LUMA 520 - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 320px) and (min-height: 533px) and (orientation: portrait) {
  .menupageimage {
    bottom: -23rem;
  }

  .menupagetext {
    font-size: 3.5rem;
    padding-left: 3%;
  }

  .invisiblemenubtn {
    height: 4rem;
  }
}

// NEXUS 5 - CHROME DEV TOOLS - PORTRAIT
@media (min-width: 360px) and (min-height: 512px) and (orientation: portrait) {
  .menupageimage {
    bottom: -23.9rem;
  }

  .menupagetext {
    font-size: 2.9rem;
    bottom: -13.3rem;
    padding-left: 3%;
  }

  .invisiblemenubtn {
    height: 3rem;
  }
}

// NEXUS 5 - CHROME DEV TOOLS - PORTRAIT
@media (min-width: 360px) and (min-height: 567px) and (orientation: portrait) {
  .menupageimage {
    bottom: -23rem;
  }

  .menupagetext {
    font-size: 3.4rem;
    bottom: -13.3rem;
    padding-left: 3%;
  }

  .invisiblemenubtn {
    height: 4rem;
  }
}

// IPHONE 6 - TESTED W/ NGROK - PORTRAIT
@media (min-width: 375px) and (min-height: 553px) and (orientation: portrait) {
  .menupageimage {
    bottom: -23.5rem;
  }

  .menupagetext {
    font-size: 3.2rem;
    bottom: -13.4rem;
  }

  .invisiblemenubtn {
    height: 3.5rem;
  }
}

// Galaxy S5- CHROME DEVTOOLS - PORTRAIT
@media (min-width: 360px) and (min-height: 640px) and (orientation: portrait) {
  .invisiblemenubtn {
    height: 3.8rem;
    width: 8rem;
  }
}

// LG Optimus L70 - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 384px) and (min-height: 640px) and (orientation: portrait) {
  .menupageimage {
    bottom: -22.5rem;
  }

  .menupagetext {
    font-size: 3.5rem;
    bottom: -13.2rem;
  }

  .invisiblemenubtn {
    height: 4.2rem;
  }
}

// NEXUS 5X - CHORME DEVTOOLS - PORTRAIT
@media (min-width: 412px) and (min-height: 604px) and (orientation: portrait) {
  .menupageimage {
    bottom: -23.5rem;
  }

  .menupagetext {
    font-size: 3.2rem;
    bottom: -13.4rem;
  }

  .invisiblemenubtn {
    height: 3.4rem;
  }
}

// NEXUS 5X - CHORME DEVTOOLS - PORTRAIT
@media (min-width: 412px) and (min-height: 660px) and (orientation: portrait) {
  .menupageimage {
    bottom: -23rem;
  }

  .menupagetext {
    font-size: 3.4rem;
    bottom: -13.4rem;
    padding-left: 2%;
  }

  .invisiblemenubtn {
    height: 3.8rem;
  }
}

// IPHONE 6/7/8 - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 375px) and (min-height: 667px) and (orientation: portrait) {
  .menupageimage {
    bottom: -22.5rem;
  }

  .menupagetext {
    font-size: 3.5rem;
    bottom: -13.2rem;
  }

  .invisiblemenubtn {
    height: 4.4rem;
  }
}

// IPHONE XR - TESTED W/ NGROK - PORTRAIT
@media (min-width: 414px) and (min-height: 715px) and (orientation: portrait) {
  .menupageimage {
    bottom: -22rem;
  }

  .menupagetext {
    font-size: 4rem;
    bottom: -13.4rem;
  }

  .invisiblemenubtn {
    height: 4.8rem;
  }
}

// IPHONE X - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 375px) and (min-height: 812px) and (orientation: portrait) {
  .menupageimage {
    bottom: -22rem;
  }

  .menupagetext {
    font-size: 4rem;
    bottom: -13.4rem;
  }

  .invisiblemenubtn {
    height: 4.8rem;
  }
}
// PIXEL 2 - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 411px) and (min-height: 731px) and (orientation: portrait) {
  .menupageimage {
    bottom: -22rem;
  }

  .menupagetext {
    font-size: 4rem;
    bottom: -13.4rem;
  }

  .invisiblemenubtn {
    height: 4.8rem;
  }
}

// NEXUS 6 - CHORME DEVTOOLS - PORTRAIT
@media (min-width: 412px) and (min-height: 732px) and (orientation: portrait) {
  // NOTHING NEEDED
}

// IPHONE 6/7/8 PLUS - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 414px) and (min-height: 736px) and (orientation: portrait) {
  // NOTHING NEEDED
}

// PIXEL 2XL- CHROME DEVTOOLS - PORTRAIT
@media (min-width: 411px) and (min-height: 823px) and (orientation: portrait) {
  // NOTHING NEEDED
}

// NOKIA N9 - CHROME DEV TOOLS - PORTRAIT
@media (min-width: 480px) and (min-height: 854px) and (orientation: portrait) {
  .menupageimage {
    bottom: -21.5rem;
  }

  .menupagetext {
    font-size: 4.2rem;
  }

  .invisiblemenubtn {
    height: 5.5rem;
    width: 9rem;
  }
}

// GALAXY FOLD - CHROME DEV TOOLS - PORTRAIT
@media (min-width: 500px) and (min-height: 700px) and (orientation: portrait) {
  .menupageimage {
    bottom: -22rem;
  }

  .menupagetext {
    font-size: 3.5rem;
    bottom: -13rem;
  }

  .invisiblemenubtn {
    height: 5rem;
    width: 9rem;
  }
}

// SURFACE DUO - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 540px) and (min-height: 720px) and (orientation: portrait) {
  // NOTHING NEEDED
}

// NEXUS 7 - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 600px) and (min-height: 960px) and (orientation: portrait) {
  //    NOTHING NEEDED
}

// IPAD MINI - TESTED WITH NGROK - PORTRAIT
@media (min-width: 665px) and (min-height: 921px) and(orientation: portrait) {
  .menupageimage {
    bottom: -22rem;
  }

  .menupagetext {
    font-size: 3.5rem;
    bottom: -13.1rem;
    padding-left: 1%;
  }
}

// IPAD MINI - TESTED WITH NGROK - PORTRAIT
@media (min-width: 768px) and (min-height: 921px) and(orientation: portrait) {
  .menupageimage {
    bottom: -21.6rem;
  }
  .menupagetext {
    font-size: 3.9rem;
    bottom: -13.3rem;
  }
  .invisiblemenubtn {
    height: 5.3rem;
    width: 9.5rem;
  }
}

// IPAD 2019 - TESTED WITH NGROK - LANDSCAPE
@media (min-width: 810px) and (min-height: 977px) and (orientation: portrait) {
  .menupageimage {
    bottom: -21rem;
  }
  .menupagetext {
    font-size: 4.2rem;
    bottom: -13.1rem;
  }
  .invisiblemenubtn {
    height: 5.7rem;
    width: 9.7rem;
  }
}

// BLACKBERRY PLAYBOOK - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 600px) and (min-height: 1024px) and (orientation: portrait) {
  // NOTHING NEEDED
}

// IPAD - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 768px) and (min-height: 1024px) and (orientation: portrait) {
  // NOTHING NEEDED
}

// IPAD PRO - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 1024px) and (min-height: 1366px) and (orientation: portrait) {
  .menupageimage {
    bottom: -20.5rem;
  }
  .menupagetext {
    font-size: 4.5rem;
    bottom: -13.2rem;
  }
  .invisiblemenubtn {
    height: 6rem;
    width: 10rem;
  }
}
