.invisiblemenubtn,
.menupageimage {
  height: 8rem;
  width: 6.5rem;
}

.menupageimage,
.menubtn,
.menupagetext {
  bottom: -17.7rem;
}

.menupagetext {
  font-size: 220%;
  padding-left: 0.4rem;
  padding-bottom: 4.7rem;
}

// NOKIA LUMA 520 - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 320px) and (min-height: 533px) and (orientation: portrait) {
  .menupageimage,
  .menubtn,
  .menupagetext {
    bottom: -17.3rem;
  }

  .menupagetext {
    font-size: 220%;
    padding-bottom: 4.5rem;
  }
}

// IPHONE 5-SE - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 320px) and (min-height: 568px) and (orientation: portrait) {
  // NOTHING NEEDED
}

// NEXUS 5 - CHROME DEV TOOLS - PORTRAIT
@media (min-width: 360px) and (min-height: 512px) and (orientation: portrait) {
  // NOTHING NEEDED
}

// NEXUS 5 - CHROME DEV TOOLS - PORTRAIT
@media (min-width: 360px) and (min-height: 567px) and (orientation: portrait) {
  // NOTHING NEEDED
}

// IPHONE 6 - TESTED W/ NGROK - PORTRAIT
@media (min-width: 375px) and (min-height: 553px) and (orientation: portrait) {
  .menupageimage,
  .menubtn,
  .menupagetext {
    bottom: -17.5rem;
  }

  .menupagetext {
    font-size: 230%;
    padding-bottom: 4.5rem;
  }
}

// Galaxy S5- CHROME DEVTOOLS - PORTRAIT
@media (min-width: 360px) and (min-height: 640px) and (orientation: portrait) {
  .menupageimage,
  .menubtn,
  .menupagetext {
    bottom: -17.2rem;
  }

  .menupagetext {
    font-size: 240%;
    padding-bottom: 4.25rem;
  }
}

// LG Optimus L70 - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 384px) and (min-height: 640px) and (orientation: portrait) {
  // NOTHING NEEDED
}

// NEXUS 5X - CHORME DEVTOOLS - PORTRAIT
@media (min-width: 412px) and (min-height: 604px) and (orientation: portrait) {
  // NOTHING NEEDED
}

// NEXUS 5X - CHORME DEVTOOLS - PORTRAIT
@media (min-width: 412px) and (min-height: 660px) and (orientation: portrait) {
  // NOTHING NEEDED
}

// IPHONE 6/7/8 - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 375px) and (min-height: 667px) and (orientation: portrait) {
  // NOTHING NEEDED
}

// IPHONE XR - TESTED W/ NGROK - PORTRAIT
@media (min-width: 414px) and (min-height: 715px) and (orientation: portrait) {
  // NOTHING NEEDED
}

// IPHONE X - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 375px) and (min-height: 812px) and (orientation: portrait) {
  // NOTHING NEEDED
}

// PIXEL 2 - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 411px) and (min-height: 731px) and (orientation: portrait) {
  // NOTHING NEEDED
}

// NEXUS 6 - CHORME DEVTOOLS - PORTRAIT
@media (min-width: 412px) and (min-height: 732px) and (orientation: portrait) {
  // NOTHING NEEDED
}

// IPHONE 6/7/8 PLUS - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 414px) and (min-height: 736px) and (orientation: portrait) {
  // NOTHING NEEDED
}

// PIXEL 2XL- CHROME DEVTOOLS - PORTRAIT
@media (min-width: 411px) and (min-height: 823px) and (orientation: portrait) {
  .invisiblemenubtn,
  .menupageimage {
    height: 9rem;
    width: 7.5rem;
  }

  .menupageimage,
  .menubtn,
  .menupagetext {
    bottom: -17.6rem;
  }

  .menupagetext {
    font-size: 270%;
    padding-bottom: 4.8rem;
  }
}

// NOKIA N9 - CHROME DEV TOOLS - PORTRAIT
@media (min-width: 480px) and (min-height: 854px) and (orientation: portrait) {
  // NOTHING NEEDED
}

// GALAXY FOLD - CHROME DEV TOOLS - PORTRAIT
@media (min-width: 500px) and (min-height: 700px) and (orientation: portrait) {
  // NOTHING NEEDED
}

// SURFACE DUO - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 540px) and (min-height: 720px) and (orientation: portrait) {
  // NOTHING NEEDED
}

// NEXUS 7 - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 600px) and (min-height: 960px) and (orientation: portrait) {
  // NOTHING NEEDED
}

// IPAD MINI - TESTED WITH NGROK - PORTRAIT
@media (min-width: 665px) and (min-height: 921px) and(orientation: portrait) {
  // NOTHING NEEDED
}

// IPAD MINI - TESTED WITH NGROK - PORTRAIT
@media (min-width: 768px) and (min-height: 921px) and(orientation: portrait) {
  // NOTHING NEEDED
}

// IPAD 2019 - TESTED WITH NGROK - PORTRAIT
@media (min-width: 810px) and (min-height: 977px) and (orientation: portrait) {
  // NOTHING NEEDED
}

// BLACKBERRY PLAYBOOK - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 600px) and (min-height: 1024px) and (orientation: portrait) {
  // NOTHING NEEDED
}

// IPAD - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 768px) and (min-height: 1024px) and (orientation: portrait) {
  // NOTHING NEEDED
}

// IPAD PRO - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 1024px) and (min-height: 1366px) and (orientation: portrait) {
  // NOTHING NEEDED
}
