//  IPHONE 4 - CHROME DEVTOOLS - LANDSCAPE - BASE STYLES
@media (min-width: 480px) and (min-height: 320px) and (orientation: landscape) {
  .invisiblemenubtn,
  .menupageimage {
    height: 9rem;
    width: 7.5rem;
  }

  .menupageimage,
  .menubtn,
  .menupagetext {
    bottom: -18.7rem;
  }

  .menupagetext {
    font-size: 250%;
    padding-left: 0.4rem;
    padding-bottom: 5.5rem;
  }
}

// NOKIA LUMA 520 - CHROME DEVTOOLS - LANDSCAPE
@media (min-width: 533px) and (min-height: 320px) and (orientation: landscape) {
  // NOTHING NEEDED
}

// IPHONE 5-SE - CHROME DEVTOOLS - LANDSCAPE
@media (min-width: 568px) and (min-height: 320px) and (orientation: landscape) {
  // NOTHING NEEDED
}

// NEXUS 5 - CHROME DEV TOOLS - LANDSCAPE
@media (min-width: 598px) and (min-height: 280px) and (orientation: landscape) {
  .invisiblemenubtn,
  .menupageimage {
    height: 8rem;
    width: 6.5rem;
  }

  .menupageimage,
  .menubtn,
  .menupagetext {
    bottom: -18.1rem;
  }

  .menupagetext {
    font-size: 200%;
    padding-left: 0.4rem;
    padding-bottom: 5.15rem;
  }
}

// NEXUS 5 - CHROME DEV TOOLS - LANDSCAPE
@media (min-width: 567px) and (min-height: 335px) and (orientation: landscape) {
  .invisiblemenubtn,
  .menupageimage {
    height: 9rem;
    width: 7.5rem;
  }

  .menupageimage,
  .menubtn,
  .menupagetext {
    bottom: -18.7rem;
  }

  .menupagetext {
    font-size: 250%;
    padding-left: 0.4rem;
    padding-bottom: 5.5rem;
  }
}

// IPHONE 6 - TESTED W/ NGROK - LANDSCAPE
@media (min-width: 553px) and (min-height: 375px) and (orientation: landscape) {
  // NOTHING NEEDED
}

// Galaxy S5- CHROME DEVTOOLS - LANDSCAPE
@media (min-width: 640px) and (min-height: 360px) and (orientation: landscape) {
  .menupageimage,
  .menubtn,
  .menupagetext {
    bottom: -18.5rem;
  }

  .menupagetext {
    font-size: 260%;
    padding-bottom: 5.3rem;
  }
}

// LG Optimus L70 - CHROME DEVTOOLS - LANDSCAPE
@media (min-width: 640px) and (min-height: 384px) and (orientation: landscape) {
}

// NEXUS 5X - CHORME DEVTOOLS - LANDSCAPE
@media (min-width: 684px) and (min-height: 332px) and (orientation: landscape) {
}

// IPHONE 6/7/8 - CHROME DEVTOOLS - LANDSCAPE
@media (min-width: 667px) and (min-height: 375px) and (orientation: landscape) {
}

// NEXUS 5X - CHORME DEVTOOLS - LANDSCAPE
@media (min-width: 684px) and (min-height: 388px) and (orientation: landscape) {
}

// IPHONE XR - TESTED W/ NGROK - LANDSCAPE
@media (min-width: 715px) and (min-height: 414px) and (orientation: landscape) {
}

// NEXUS 6 - CHORME DEVTOOLS -LANDSCAPE
@media (min-width: 732px) and (min-height: 412px) and (orientation: landscape) {
  // NOTHING NEEDED
}

// IPHONE XR - TESTED W/ NGROK - LANDSCAPE
@media (min-width: 800px) and (min-height: 364px) and (orientation: landscape) {
  .menupageimage {
    bottom: -23.6rem;
  }

  .menubtn {
    bottom: -13rem;
  }

  .menupagetext {
    font-size: 3.1rem;
    padding-left: 1.5%;
  }

  .invisiblemenubtn {
    height: 3.3rem;
  }
}

// IPHONE X - CHROME DEVTOOLS - LANDSCAPE
@media (min-width: 812px) and (min-height: 375px) and (orientation: landscape) {
  .menupageimage {
    bottom: -23.8rem;
  }

  .menupagetext {
    font-size: 3.1rem;
    bottom: -13.5rem;
  }

  .invisiblemenubtn {
    height: 3.2rem;
  }
}

// PIXEL 2 - CHROME DEVTOOLS - LANDSCAPE
@media (min-width: 731px) and (min-height: 411px) and (orientation: landscape) {
  .menupagetext {
    padding-left: 1.5%;
  }
}

// NEXUS 6 - CHROME DEVTOOLS - LANDSCAPE
@media (min-width: 732px) and (min-height: 412px) and (orientation: landscape) {
  // NOTHING NEEDED
}

// IPHONE 6/7/8 PLUS - CHROME DEVTOOLS - LANDSCAPE
@media (min-width: 736px) and (min-height: 414px) and (orientation: landscape) {
  // NOTHING NEEDED
}

// PIXEL 2XL- CHROME DEVTOOLS - LANDSCAPE
@media (min-width: 823px) and (min-height: 411px) and (orientation: landscape) {
  .menupageimage {
    bottom: -23.6rem;
  }
  .invisiblemenubtn {
    height: 3.3rem;
  }
}

//NOKIA 9 - CHROME DEVTOOLS - LANDSCAPE
@media (min-width: 854px) and (min-height: 480px) and (orientation: landscape) {
  .menupageimage {
    bottom: -23.2rem;
  }

  .menupagetext {
    font-size: 3.3rem;
    bottom: -13.5rem;
  }

  .menubtn {
    bottom: -13rem;
  }

  .invisiblemenubtn {
    height: 3.7rem;
    width: 8rem;
  }
}

// GALAXY FOLD - CHROME DEVTOOLS - LANDSCAPE
@media (min-width: 700px) and (min-height: 500px) and (orientation: landscape) {
  .menupageimage {
    bottom: -23rem;
  }

  .menupagetext {
    font-size: 3.3rem;
    bottom: -13.3rem;
  }

  .menubtn {
    bottom: -12.5rem;
  }

  .invisiblemenubtn {
    width: 8.5rem;
  }
}

// SURFACE DUO - CHROME DEVTOOLS - LANDSCAPE
@media (min-width: 720px) and (min-height: 540px) and (orientation: landscape) {
  .menupageimage {
    bottom: -22.8rem;
  }

  .menupagetext {
    font-size: 3.4rem;
  }

  .invisiblemenubtn {
    width: 8.5rem;
    height: 3.5rem;
  }
}

// NEXUS 7 - CHROME DEVTOOLS - LANDSCAPE
@media (min-width: 960px) and (min-height: 600px) and (orientation: landscape) {
  .menupageimage {
    bottom: -22.5rem;
  }

  .menupagetext {
    font-size: 3.6rem;
    padding-left: 1%;
  }

  .invisiblemenubtn {
    width: 9rem;
    height: 3.8rem;
  }
}

// IPAD MINI - TESTED WITH NGROK - LANDSCAPE
@media (min-width: 921px) and (min-height: 665px) and (orientation: landscape) {
  .menupageimage {
    bottom: -22.2rem;
  }

  .menupagetext {
    font-size: 3.8rem;
    padding-left: 0.7%;
  }

  .invisiblemenubtn {
    width: 10rem;
    height: 4rem;
  }
}

// IPAD MINI 2 - TESTED WITH NGROK - LANDSCAPE
@media (min-width: 921px) and (min-height: 768px) and (orientation: landscape) {
  .menupageimage {
    bottom: -21.5rem;
  }

  .menupagetext {
    font-size: 4rem;
    bottom: -13.2rem;
    padding-left: 0.9%;
  }

  .invisiblemenubtn {
    width: 11rem;
    height: 5rem;
  }
}

// IPAD 2019 - TESTED WITH NGROK - LANDSCAPE
@media (min-width: 977px) and (min-height: 810px) and (orientation: landscape) {
  //  NOTHING NEEDED
}

// BLACKBERRY PLAYBOOK - CHROME DEVTOOLS - LANDSCAPE
@media (min-width: 1024px) and (min-height: 600px) and (orientation: landscape) {
  // NOTHING NEEDED
}

// IPAD - CHROME DEV TOOLS - LANDSCAPE
@media (min-width: 1024px) and (min-height: 768px) and (orientation: landscape) {
  // NOTHING NEEDED
}

// 13" DELL - TESTED W/ NGROK - LANDSCAPE
@media (min-width: 1280px) and (min-height: 578px) and (orientation: landscape) {
  // NOTHING NEEDED
}

// LOW-RES 32INCH MONITOR - TESTED W/ LOCAL MACHINE
@media (min-width: 1360px) and (min-height: 689px) and (orientation: landscape) {
  .menupageimage {
    bottom: -21.5rem;
  }

  .menupagetext {
    font-size: 4rem;
    bottom: -13.2rem;
    padding-left: 0.4%;
  }

  .invisiblemenubtn {
    width: 11rem;
    height: 5rem;
  }
}

// IPAD PRO - CHROME DEVTOOLS - LANDSCAPE
@media (min-width: 1366px) and (min-height: 1024px) and (orientation: landscape) {
  .menupageimage {
    bottom: -21rem;
  }

  .menupagetext {
    font-size: 4.5rem;
    bottom: -13.5rem;
    padding-left: 0.8%;
  }

  .invisiblemenubtn {
    width: 12rem;
    height: 5.5rem;
  }
}

// MACBOOK PRO 15" TESTED W/ NGROK
@media (min-width: 1440px) and (min-height: 769px) and (orientation: landscape) {
  //  NOTHING NEEDED
}

// HIGH-RES 32 INCH MONITOR - TESTED W/ LOCAL MACHINE
@media (min-width: 1920px) and (min-height: 969px) and (orientation: landscape) {
  // NOTHING NEEDED
}

// ULTRA-WIDESCREEN - TESTED ON LOCAL MACHINE
@media (min-width: 2560px) and (min-height: 953px) and (orientation: landscape) {
  // NOTHING NEEDED
}

// IMAC 2015 - TESTED ON LOCAL MACHINE
@media (min-width: 2560px) and (min-height: 1361px) and(orientation: landscape) {
  // NOTHING NEEDED
}
