.menupageimage {
  bottom: -22rem;
}

.menupagetext {
  font-size: 3.7rem;
  letter-spacing: 0.5rem;
  padding: 0;
  margin: 0;
  opacity: 0.8;
  bottom: -14rem;
  text-shadow: 4px 3px #4a3f35;
  background-color: lightskyblue;
}

// IPHONE 4 - CHROME DEVTOOLS
@media (min-width: 320px) and (min-height: 480px) and (orientation: portrait) {
  .menupageimage {
    bottom: -23.7rem;
  }

  .menupagetext {
    font-size: 3rem;
    letter-spacing: 0.4rem;
  }
}

// IPHONE 5-SE - CHROME DEVTOOLS
@media (min-width: 320px) and (min-height: 568px) and (orientation: portrait) {
  .menupageimage {
    bottom: -22.7rem;
  }

  .menupagetext {
    font-size: 3.5rem;
    letter-spacing: 0.4rem;
  }
}

// IPHONE 6/7/8 - CHROME DEVTOOLS
@media (min-width: 375px) and (min-height: 667px) and (orientation: portrait) {
  .menupageimage {
    bottom: -22.7rem;
  }

  .menupagetext {
    font-size: 3rem;
    letter-spacing: 0.4rem;
  }
}
