// UNIVERSAL BASE STYLES
.aboutpage {
  background: url('/2-images/3-about/0-aboutpage.png') no-repeat center center;
  background-size: cover;
}

.abouttext {
  margin: 0;
  padding: 0;
  text-shadow: 0.22rem 0.16rem 0.19rem #39311d;
}

.booknavssp:focus,
.booknavsdp:focus,
.booknavsdpp:focus {
  outline: none;
  box-shadow: none;
}

.aboutsvg {
  margin: 0;
  padding: 0;
}

.booknavforwarddp,
.booknavbackwarddp,
.booknavforwardsp,
.booknavbackwardsp,
.booknavforwarddpp,
.booknavbackwarddpp {
  visibility: hidden;
}

.booknavbackwardsp,
.booknavbackwarddp,
.booknavbackwarddpp {
  transform: rotateY(180deg);
}

@import './1-about-portrait';
@import './2-about-landscape';
