// PORTRAIT BASE STYLES- SIZED TO IPHONE 4 - 320 X 480
.spcontainer {
  right: 0;
  .aboutbookcontainersp {
    .svg1sp {
      width: 65%;
    }
    .aboutsvgsp {
      padding-left: 0.8rem;
      padding-right: 0.8rem;
    }
    .abouttextsp {
      font-size: 180%;
      padding: 0.5rem;
      padding-right: 1rem;
    }

    .page1textsp {
      font-size: 480%;
    }

    .page11textsp,
    .page13textsp {
      font-size: 200%;
      padding-left: 2rem;
      padding-right: 2rem;
      padding-bottom: 1rem;
    }

    .page15textsp {
      padding-left: 2rem;
      padding-right: 2rem;
      font-size: 230%;
    }
    .page17textsp {
      font-size: 140%;
      padding-left: 1.8rem;
      padding-right: 1.8rem;
    }
  }
  .booknavcontainersp {
    float: right;
    margin-top: 0.5%;
    .booknavssp {
      margin-top: 2.5%;
      margin-bottom: 2.5%;
      width: 24%;
    }
  }
}

// NOKIA LUMA 520 - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 320px) and (min-height: 533px) and (orientation: portrait) {
  .spcontainer {
    .aboutbookcontainersp {
      .page17textsp {
        font-size: 150%;
        padding-left: 1.2rem;
        padding-right: 1.2rem;
      }
    }
    .booknavcontainersp {
      .booknavssp {
        margin-top: 3%;
      }
    }
  }
}

// IPHONE 5-SE - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 320px) and (min-height: 568px) and (orientation: portrait) {
  .spcontainer {
    .booknavcontainersp {
      .booknavssp {
        margin-top: 3.5%;
        width: 26%;
      }
    }
  }
}

// NEXUS 5 - CHROME DEV TOOLS - PORTRAIT
@media (min-width: 360px) and (min-height: 512px) and (orientation: portrait) {
  .spcontainer {
    .aboutbookcontainersp {
      .svg1sp {
        width: 60%;
      }

      .abouttextsp {
        font-size: 190%;
        padding-bottom: 1rem;
      }

      .page1textsp {
        font-size: 490%;
      }

      .page3textsp {
        padding-left: 1.8rem;
        padding-right: 1.8rem;
      }

      .page13textsp {
        font-size: 200%;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        padding-bottom: 2rem;
      }

      .page15textsp {
        font-size: 250%;
        padding-bottom: 0rem;
      }
      .page17textsp {
        font-size: 160%;
      }
    }
    .booknavcontainersp {
      margin-top: 0;
      .booknavssp {
        margin-top: 2%;
        margin-bottom: 5%;
      }
    }
  }
}

// NEXUS 5 - CHROME DEV TOOLS - PORTRAIT
@media (min-width: 360px) and (min-height: 567px) and (orientation: portrait) {
  .spcontainer {
    .aboutbookcontainersp {
      .page9textsp {
        padding-left: 1.8rem;
        padding-right: 1.8rem;
      }

      .page11textsp {
        font-size: 220%;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
      }

      .page13textsp {
        font-size: 210%;
      }

      .page15textsp {
        font-size: 240%;
      }
      .page17textsp {
        font-size: 170%;
      }
    }
  }
}

// IPHONE 6 - TESTED W/ NGROK - PORTRAIT
@media (min-width: 375px) and (min-height: 553px) and (orientation: portrait) {
  .spcontainer {
    .aboutbookcontainersp {
      .svg1sp {
        width: 50%;
      }
      .page9textsp {
        padding-left: 1.8rem;
        padding-right: 1.8rem;
      }

      .page11textsp {
        font-size: 220%;
        padding-left: 3rem;
        padding-right: 3rem;
      }

      .page17textsp {
        font-size: 170%;
      }
    }
    .booknavcontainersp {
      margin-top: 0;
      .booknavssp {
        width: 22%;
        margin-top: 2.5%;
        margin-bottom: 2%;
      }
    }
  }
}

// Galaxy S5- CHROME DEVTOOLS - PORTRAIT
@media (min-width: 360px) and (min-height: 640px) and (orientation: portrait) {
  .spcontainer {
    .aboutbookcontainersp {
      .page11textsp {
        font-size: 240%;
      }
    }
    .booknavcontainersp {
      .booknavssp {
        width: 23%;
        margin-top: 3.5%;
      }
    }
  }
}

// LG Optimus L70 - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 384px) and (min-height: 640px) and (orientation: portrait) {
  .spcontainer {
    .aboutbookcontainersp {
      .svg1sp {
        width: 55%;
      }
      .abouttextsp {
        font-size: 200%;
      }
      .aboutsvgsp {
        padding-left: 1rem;
        padding-right: 1rem;
      }
      .page1textsp {
        font-size: 500%;
      }

      .page7textsp {
        padding-left: 2rem;
        padding-right: 2rem;
      }
      .page11textsp,
      .page13textsp {
        font-size: 250%;
      }

      .page15textsp {
        font-size: 290%;
      }
      .page17textsp {
        font-size: 175%;
      }
    }
    .booknavcontainersp {
      .booknavssp {
        width: 24%;
      }
    }
  }
}

// NEXUS 5X - CHORME DEVTOOLS - PORTRAIT
@media (min-width: 412px) and (min-height: 604px) and (orientation: portrait) {
  .spcontainer {
    .aboutbookcontainersp {
      .svg1sp {
        width: 60%;
      }
      .abouttextsp {
        font-size: 220%;
      }
      .aboutsvgsp {
        padding-left: 1rem;
        padding-right: 1rem;
      }
      .page1textsp {
        font-size: 550%;
      }
      .page11textsp,
      .page13textsp {
        font-size: 260%;
      }

      .page15textsp {
        font-size: 300%;
      }
      .page17textsp {
        font-size: 200%;
      }
    }
    .booknavcontainersp {
      .booknavssp {
        width: 24%;
      }
    }
  }
}

// NEXUS 5X - CHORME DEVTOOLS - PORTRAIT
@media (min-width: 412px) and (min-height: 660px) and (orientation: portrait) {
  // NOTHING NEEDED
}

// IPHONE 6/7/8 - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 375px) and (min-height: 667px) and (orientation: portrait) {
  .spcontainer {
    .aboutbookcontainersp {
      .svg1sp {
        width: 60%;
      }
      .abouttextsp {
        font-size: 200%;
      }
      .aboutsvgsp {
        padding-left: 1rem;
        padding-right: 1rem;
      }
      .page1textsp {
        font-size: 550%;
      }
      .page11textsp {
        font-size: 250%;
      }

      .page13textsp {
        font-size: 230%;
      }

      .page15textsp {
        font-size: 270%;
      }
      .page17textsp {
        font-size: 180%;
      }
    }
    .booknavcontainersp {
      .booknavssp {
        margin-top: 1rem;
      }
    }
  }
}

// IPHONE XR - TESTED W/ NGROK - PORTRAIT
@media (min-width: 414px) and (min-height: 715px) and (orientation: portrait) {
  .spcontainer {
    .aboutbookcontainersp {
      .svg1sp {
        width: 55%;
      }

      .abouttextsp {
        font-size: 210%;
      }
      .page1textsp {
        font-size: 550%;
      }
      .page11textsp,
      .page13textsp {
        font-size: 250%;
      }

      .page15textsp {
        font-size: 300%;
      }
      .page17textsp {
        font-size: 200%;
      }
    }
    .booknavcontainersp {
      .booknavssp {
        width: 23%;
      }
    }
  }
}

// IPHONE X - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 375px) and (min-height: 812px) and (orientation: portrait) {
  // NOTHING NEEDED
}

// PIXEL 2 - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 411px) and (min-height: 731px) and (orientation: portrait) {
  .spcontainer {
    .aboutbookcontainersp {
      .svg1sp {
        width: 55%;
      }
      .abouttextsp {
        font-size: 230%;
        padding: 1rem;
      }
      .page1textsp {
        font-size: 550%;
      }

      .page3textsp {
        padding: 0;
        padding-left: 2rem;
        padding-right: 2rem;
      }

      .page11textsp {
        font-size: 290%;
      }
      .page13textsp {
        font-size: 270%;
      }

      .page15textsp {
        font-size: 320%;
      }
      .page17textsp {
        font-size: 200%;
      }
    }
    .booknavcontainersp {
      .booknavssp {
        width: 23%;
      }
    }
  }
}

// NEXUS 6 - CHORME DEVTOOLS - PORTRAIT
@media (min-width: 412px) and (min-height: 732px) and (orientation: portrait) {
  // NOTHING NEEDED
}

// IPHONE 6/7/8 PLUS - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 414px) and (min-height: 736px) and (orientation: portrait) {
  .spcontainer {
    .aboutbookcontainersp {
      .page11textsp {
        padding: 2rem;
      }
    }
  }
}

// PIXEL 2XL- CHROME DEVTOOLS - PORTRAIT
@media (min-width: 411px) and (min-height: 823px) and (orientation: portrait) {
  // NOTHING NEEDED
}

// NOKIA N9 - CHROME DEV TOOLS - PORTRAIT
@media (min-width: 480px) and (min-height: 854px) and (orientation: portrait) {
  .spcontainer {
    .aboutbookcontainersp {
      .abouttextsp {
        font-size: 270%;
        padding: 1.5rem;
      }
      .page1textsp {
        font-size: 700%;
      }

      .page11textsp,
      .page13textsp {
        font-size: 300%;
        padding: 3rem;
      }

      .page15textsp {
        font-size: 320%;
      }
      .page17textsp {
        font-size: 225%;
      }
    }

    .booknavcontainersp {
      margin-top: 2%;
    }
  }
}

// GALAXY FOLD - CHROME DEV TOOLS - PORTRAIT
@media (min-width: 500px) and (min-height: 700px) and (orientation: portrait) {
  .dppcontainer {
    .aboutbookcontainerdpp {
      .svg1dpp {
        width: 70%;
      }
      .aboutsvgdpp {
        padding-left: 0.6rem;
        padding-right: 0.6rem;
      }
      .abouttextdpp {
        font-size: 160%;
        padding: 2rem;
      }
      .page0textdpp {
        font-size: 350%;
      }

      .page8textdpp {
        padding: 2.5rem;
      }

      .page10textdpp {
        font-size: 200%;
      }

      .page12textdpp {
        font-size: 170%;
        padding: 1rem;
      }

      .page14textdpp {
        font-size: 220%;
      }

      .page16textdpp {
        font-size: 150%;
      }
      .page17textdpp {
        font-size: 140%;
        padding: 1rem;
      }
    }
    .booknavcontainerdpp {
      border-radius: 5rem;
      .booknavsdpp {
        margin-top: 1.3rem;
        width: 17%;
      }
    }
  }
}

// SURFACE DUO - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 540px) and (min-height: 720px) and (orientation: portrait) {
  .dppcontainer {
    .aboutbookcontainerdpp {
      .svg1dpp {
        width: 70%;
      }
      .aboutsvgdpp {
        padding-left: 0.7rem;
        padding-right: 0.7rem;
      }
      .abouttextdpp {
        padding: 3rem;
      }

      .page4textdpp {
        padding: 1rem;
      }

      .page6textdpp {
        padding: 2rem;
      }

      .page8textdpp {
        padding: 2.7rem;
      }

      .page10textdpp {
        padding: 2rem;
      }

      .page12textdpp {
        font-size: 180%;
      }

      .page16textdpp {
        padding: 2rem;
        font-size: 160%;
      }
      .page17textdpp {
        font-size: 155%;
        padding: 0.7rem;
      }
    }
    .booknavcontainerdpp {
      .booknavsdpp {
        margin-top: 1.3rem;
        width: 16%;
      }
    }
  }
}

// NEXUS 7 - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 600px) and (min-height: 960px) and (orientation: portrait) {
  .dppcontainer {
    .aboutbookcontainerdpp {
      .svg1dpp {
        width: 60%;
      }
      .aboutsvgdpp {
        padding-left: 0.7rem;
        padding-right: 0.7rem;
      }
      .abouttextdpp {
        font-size: 180%;
        padding: 2.5rem;
      }

      .page0textdpp {
        font-size: 350%;
      }

      .page10textdpp {
        font-size: 210%;
      }

      .page12textdpp {
        font-size: 200%;
        padding: 1rem;
      }

      .page14textdpp {
        font-size: 230%;
      }

      .page16textdpp {
        font-size: 170%;
      }

      .page17textdpp {
        font-size: 165%;
        padding: 1.5rem;
      }
    }
  }
}

// IPAD MINI - TESTED WITH NGROK - PORTRAIT
@media (min-width: 665px) and (min-height: 921px) and(orientation: portrait) {
  .dppcontainer {
    .aboutbookcontainerdpp {
      .abouttextdpp {
        font-size: 200%;
        padding: 3rem;
      }
      .page0textdpp {
        font-size: 500%;
      }

      .page10textdpp {
        font-size: 230%;
      }

      .page12textdpp {
        font-size: 210%;
        padding: 2.5rem;
      }

      .page14textdpp {
        font-size: 250%;
      }

      .page16textdpp {
        font-size: 170%;
      }

      .page17textdpp {
        font-size: 170%;
        padding: 2rem;
      }
    }
    .booknavcontainerdpp {
      .booknavsdpp {
        width: 14%;
      }
    }
  }
}

// IPAD MINI - TESTED WITH NGROK - PORTRAIT
@media (min-width: 768px) and (min-height: 921px) and(orientation: portrait) {
  .dppcontainer {
    .aboutbookcontainerdpp {
      .svg1dpp {
        width: 70%;
      }

      .aboutsvgdpp {
        padding-left: 1rem;
        padding-right: 1rem;
      }
      .abouttextdpp {
        font-size: 220%;
        padding: 3.5rem;
      }
      .page0textdpp {
        font-size: 500%;
      }

      .page8textdpp {
        font-size: 220%;
        padding: 2rem;
      }

      .page10textdpp {
        font-size: 290%;
      }

      .page12textdpp {
        font-size: 240%;
        padding: 2rem;
      }

      .page14textdpp {
        font-size: 300%;
      }

      .page16textdpp {
        font-size: 200%;
      }

      .page17textdpp {
        font-size: 200%;
        padding: 1.8rem;
      }
    }
  }
}

// IPAD 2019 - TESTED WITH NGROK - LANDSCAPE
@media (min-width: 810px) and (min-height: 977px) and (orientation: portrait) {
  .dppcontainer {
    .aboutbookcontainerdpp {
      .abouttextdpp {
        font-size: 230%;
        padding: 4rem;
      }

      .page0textdpp {
        font-size: 600%;
      }

      .page10textdpp {
        font-size: 300%;
      }
      .page12textdpp {
        font-size: 280%;
        padding: 2rem;
      }

      .page14textdpp {
        font-size: 320%;
      }

      .page16textdpp {
        font-size: 220%;
      }

      .page17textdpp {
        font-size: 220%;
        padding: 2rem;
      }
    }
  }
}

// BLACKBERRY PLAYBOOK - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 600px) and (min-height: 1024px) and (orientation: portrait) {
  .dppcontainer {
    .aboutbookcontainerdpp {
      .svg1dpp {
        width: 60%;
      }
      .aboutsvgdpp {
        padding-left: 0.7rem;
        padding-right: 0.7rem;
      }
      .abouttextdpp {
        font-size: 180%;
        padding: 2.5rem;
      }

      .page0textdpp {
        font-size: 400%;
      }

      .page10textdpp {
        font-size: 210%;
      }

      .page12textdpp {
        font-size: 200%;
        padding: 1rem;
      }

      .page14textdpp {
        font-size: 230%;
      }

      .page16textdpp {
        font-size: 170%;
      }

      .page17textdpp {
        font-size: 165%;
        padding: 1.5rem;
      }
    }
  }
}

// IPAD - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 768px) and (min-height: 1024px) and (orientation: portrait) {
  .dppcontainer {
    .aboutbookcontainerdpp {
      .svg1dpp {
        width: 60%;
      }
      .aboutsvgdpp {
        padding-left: 0.7rem;
        padding-right: 0.7rem;
      }
      .abouttextdpp {
        font-size: 210%;
        padding: 2rem;
      }

      .page0textdpp {
        font-size: 500%;
      }

      .page10textdpp {
        font-size: 250%;
      }

      .page12textdpp {
        font-size: 250%;
        padding: 1rem;
      }

      .page14textdpp {
        font-size: 290%;
      }

      .page16textdpp {
        font-size: 210%;
      }

      .page17textdpp {
        font-size: 210%;
        padding: 1.5rem;
      }
    }
  }
}

// IPAD PRO - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 1024px) and (min-height: 1366px) and (orientation: portrait) {
  .dppcontainer {
    .aboutbookcontainerdpp {
      .svg1dpp {
        height: 70%;
      }
      .aboutsvgdpp {
        padding-left: 1.2rem;
        padding-right: 1.2rem;
      }
      .abouttextdpp {
        font-size: 330%;
        padding: 3.5rem;
      }

      .page0textdpp {
        font-size: 700%;
      }

      .page10textdpp {
        font-size: 350%;
      }
      .page12textdpp {
        font-size: 320%;
      }

      .page14textdpp {
        font-size: 370%;
      }

      .page16textdpp {
        font-size: 290%;
      }

      .page17textdpp {
        font-size: 290%;
        padding: 1.5rem;
      }
    }
  }
}
