.bvlogo {
  opacity: 0;
}

.enterbtn {
  opacity: 0;
}

.entertext {
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 4rem;
  color: white;
  letter-spacing: 0.3rem;
  bottom: 11rem;
  opacity: 0.8;
}
