.bvlogo {
  opacity: 0;
}

.enterbtn {
  opacity: 0;
}

.enterimage {
  transform: translateY(20rem);
}

.entertext {
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 4.3rem;
  color: white;
  letter-spacing: 0.5rem;
  padding-left: 0.6rem;
  padding-bottom: 0.6rem;
  opacity: 0.8;
}
