.menuimage {
  bottom: -30rem;
}

.menutext {
  font-size: 3.7rem;
  letter-spacing: 0.5rem;
  padding-left: 0.6rem;
  padding-bottom: 0.6rem;
  opacity: 0.8;
  bottom: -18rem;
  text-shadow: 4px 3px #4a3f35;
}
