.spinnerparent {
  width: 700px;
  height: 700px;
  overflow: hidden;
  position: relative;
  right: 25.3rem;
  bottom: -79rem;
}

.spinnerchild {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 20rem;
  bottom: 12rem;
}

.baklatree {
  right: 40rem;
  bottom: -57rem;
}

.bwzero {
  right: 76rem;
  bottom: -28rem;
  transform: rotateZ(30deg);
  display: block;
}
.bwone {
  right: 64rem;
  bottom: -17rem;
  transform: rotateZ(10deg);
  display: block;
}
.bwtwo {
  right: 47rem;
  bottom: -16rem;
  transform: rotateZ(-10deg);
  display: block;
}
.bwthree {
  right: 73rem;
  bottom: -14rem;
  transform: rotateZ(-30deg);
  display: block;
}
.bwfour {
  right: 51rem;
  bottom: -22rem;
  transform: rotateZ(5deg);
  display: block;
}
.bwfive {
  right: 72rem;
  bottom: -21rem;
  transform: rotateZ(-10deg);
  display: block;
}
.bwsix {
  right: 56rem;
  bottom: -13rem;
  transform: rotateZ(-30deg);
  display: block;
}
.bwseven {
  right: 68rem;
  bottom: -27rem;
  transform: rotateZ(20deg);
  display: block;
}
.bweight {
  right: 45rem;
  bottom: -27rem;
  transform: rotateZ(-30deg);
  display: block;
}
.bwnine {
  right: 60rem;
  bottom: -23rem;
  transform: rotateZ(-40deg);
  display: block;
}
