// .questionsbg {
//   height: 5rem;
//   width: 20rem;
// }

// .contactimage {
//   height: 2rem;
//   width: 100vw;
// }

.contactcard {
  padding-top: 27vw;
  transform: translate(-50%, -90%);
}

.bgimage {
  height: 20vw;
  width: 100vw;
  transform: translate(-50%, -50%);
}

.textpos {
  width: 100vw;
  transform: translate(-50%, -50%);
}
