//  IPHONE 4 - CHROME DEVTOOLS - PORTRAIT - BASE STYLES
@media (min-width: 320px) and (min-height: 480px) and (orientation: portrait) {
  .contactcardscontainer {
    margin-bottom: 2rem;
  }

  .contactcard,
  .bgimage {
    height: 4.5rem;
    width: 20rem;
    margin-bottom: 0.2rem;
  }

  .textstyle {
    font-size: 1.4rem;
    padding-top: 0.05rem;
  }

  .questionstextstyle {
    padding: 0;
  }

  .socialtextstyle {
    padding-top: 0.1rem;
  }

  .sociallinkcontainer {
    height: 2rem;
    width: 85vw;
  }

  .sociallinks {
    width: 2.8rem;
    height: inherit;
    bottom: 3.5rem;
  }
}

// NOKIA LUMA 520 - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 320px) and (min-height: 533px) and (orientation: portrait) {
  .contactcard,
  .bgimage {
    margin-bottom: 0.5rem;
  }

  .socialtextstyle {
    padding-top: 0.15rem;
  }

  .sociallinks {
    bottom: 4rem;
  }
}

// IPHONE 5-SE - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 320px) and (min-height: 568px) and (orientation: portrait) {
  // NOTHING NEEDED
}

// NEXUS 5 - CHROME DEV TOOLS - PORTRAIT
@media (min-width: 360px) and (min-height: 512px) and (orientation: portrait) {
  .contactcardscontainer {
    margin-bottom: 2.5rem;
  }
  .contactcard,
  .bgimage {
    height: 4.8rem;
    width: 22rem;
    margin-bottom: 0.4rem;
  }

  .textstyle {
    font-size: 1.5rem;
  }

  .sociallinkcontainer {
    height: 2.2rem;
  }

  .sociallinks {
    width: 3.2rem;
  }
}

// NEXUS 5 - CHROME DEV TOOLS - PORTRAIT
@media (min-width: 360px) and (min-height: 567px) and (orientation: portrait) {
  .sociallinks {
    bottom: 4.2rem;
  }
}

// IPHONE 6 - TESTED W/ NGROK - PORTRAIT
@media (min-width: 375px) and (min-height: 553px) and (orientation: portrait) {
  .contactcard,
  .bgimage {
    height: 4.9rem;
    width: 22.1rem;
  }

  .sociallinks {
    width: 3.4rem;
  }
}

// Galaxy S5- CHROME DEVTOOLS - PORTRAIT
@media (min-width: 360px) and (min-height: 640px) and (orientation: portrait) {
  .contactcard,
  .bgimage {
    height: 5.2em;
    width: 23rem;
    margin-bottom: 0.6rem;
  }

  .textstyle {
    font-size: 1.6rem;
  }

  .sociallinkcontainer {
    height: 2.4rem;
    width: 90vw;
  }

  .sociallinks {
    width: 3.6rem;
    bottom: 5rem;
  }
}

// LG Optimus L70 - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 384px) and (min-height: 640px) and (orientation: portrait) {
  .contactcard,
  .bgimage {
    height: 5.45em;
    width: 24.5rem;
    margin-bottom: 0.4rem;
  }

  .textstyle {
    font-size: 1.7rem;
  }

  .sociallinks {
    width: 3.4rem;
  }
}

// NEXUS 5X - CHORME DEVTOOLS - PORTRAIT
@media (min-width: 412px) and (min-height: 604px) and (orientation: portrait) {
  .contactcard,
  .bgimage {
    margin-bottom: 0.6rem;
  }
  .sociallinks {
    width: 3.2rem;
  }
}

// NEXUS 5X - CHORME DEVTOOLS - PORTRAIT
@media (min-width: 412px) and (min-height: 660px) and (orientation: portrait) {
  .contactcard,
  .bgimage {
    margin-bottom: 0.6rem;
  }

  .sociallinks {
    width: 3.6rem;
  }
}

// IPHONE 6/7/8 - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 375px) and (min-height: 667px) and (orientation: portrait) {
  .contactcard,
  .bgimage {
    height: 5.45em;
    width: 24.5rem;
    margin-bottom: 0.6rem;
  }

  .textstyle {
    font-size: 1.7rem;
  }
}

// IPHONE XR - TESTED W/ NGROK - PORTRAIT
@media (min-width: 414px) and (min-height: 715px) and (orientation: portrait) {
  // NOTHING NEEDED
}

// IPHONE X - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 375px) and (min-height: 812px) and (orientation: portrait) {
  .contactcard,
  .bgimage {
    margin-bottom: 0.8rem;
  }

  .sociallinks {
    bottom: 5.5rem;
  }
}

// PIXEL 2 - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 411px) and (min-height: 731px) and (orientation: portrait) {
  .contactcard,
  .bgimage {
    margin-bottom: 1rem;
  }
}

// NEXUS 6 - CHORME DEVTOOLS - PORTRAIT
@media (min-width: 412px) and (min-height: 732px) and (orientation: portrait) {
  // NOTHING NEEDED
}

// IPHONE 6/7/8 PLUS - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 414px) and (min-height: 736px) and (orientation: portrait) {
  // NOTHING NEEDED
}

// PIXEL 2XL- CHROME DEVTOOLS - PORTRAIT
@media (min-width: 411px) and (min-height: 823px) and (orientation: portrait) {
  // NOTHING NEEDED
}

// NOKIA N9 - CHROME DEV TOOLS - PORTRAIT
@media (min-width: 480px) and (min-height: 854px) and (orientation: portrait) {
  .contactcardscontainer {
    margin: 0;
  }
  .contactcard,
  .bgimage {
    margin-bottom: 0.8rem;
  }

  .sociallinkcontainer {
    height: 2.5rem;
  }

  .sociallinks {
    width: 3.6rem;
    bottom: 6rem;
  }
}

// GALAXY FOLD - CHROME DEV TOOLS - PORTRAIT
@media (min-width: 500px) and (min-height: 700px) and (orientation: portrait) {
  .contactcardscontainer {
    margin: 0;
  }
}

// SURFACE DUO - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 540px) and (min-height: 720px) and (orientation: portrait) {
  // NOTHING NEEDED
}

// NEXUS 7 - CHROME DEVTOOLS - PORTRAIT
@media (min-width: 600px) and (min-height: 960px) and (orientation: portrait) {
  .contactcard,
  .bgimage {
    height: 5.5rem;
    width: 26rem;
    margin-bottom: 1rem;
  }

  .sociallinkcontainer {
    width: 85vw;
  }

  .sociallinks {
    bottom: 7rem;
  }
}

// IPAD MINI - TESTED WITH NGROK - PORTRAIT
@media (min-width: 665px) and (min-height: 921px) and(orientation: portrait) {
}

// // IPAD MINI - TESTED WITH NGROK - PORTRAIT
// @media (min-width: 768px) and (min-height: 921px) and(orientation: portrait) {
//   // NOTHING NEEDED
// }

// // IPAD 2019 - TESTED WITH NGROK - PORTRAIT
// @media (min-width: 810px) and (min-height: 977px) and (orientation: portrait) {
//   .contactcard,
//   .bgimage {
//     width: 31rem;
//     margin-bottom: 0.4rem;
//   }

//   .textstyle {
//     padding-top: 1.1rem;
//     font-size: 2.2rem;
//   }

//   .questionstextstyle {
//     padding-top: 0.9rem;
//   }

//   .sociallinks {
//     width: 12%;
//     bottom: 6rem;
//   }
// }

// // BLACKBERRY PLAYBOOK - CHROME DEVTOOLS - PORTRAIT
// @media (min-width: 600px) and (min-height: 1024px) and (orientation: portrait) {
//   .contactcard,
//   .bgimage {
//     width: 31rem;
//     margin-bottom: 0.1rem;
//   }
//   .textstyle {
//     padding-top: 1.5rem;
//   }

//   .questionstextstyle {
//     padding-top: 1.3rem;
//   }

//   .socialtextstyle {
//     padding-top: 1.5rem;
//   }

//   .sociallinks {
//     width: 16%;
//   }
// }

// // IPAD - CHROME DEVTOOLS - PORTRAIT
// @media (min-width: 768px) and (min-height: 1024px) and (orientation: portrait) {
//   .sociallinks {
//     width: 11%;
//   }
// }

// // // IPAD PRO - CHROME DEVTOOLS - PORTRAIT
// // @media (min-width: 1024px) and (min-height: 1366px) and (orientation: portrait) {
// //   .bgimage {
// //     width: 70vw;
// //   }

// //   .contactcard {
// //     height: 13.5vh;
// //   }

// //   .sociallinks {
// //     bottom: 7.5rem;
// //     width: 70vw;
// //   }

// //   .textstyle {
// //     font-size: 2.5rem;
// //     padding-bottom: 2.8rem;
// //   }

// //   .socialtextstyle {
// //     padding-bottom: 2.4rem;
// //   }
// // }
