//  IPHONE 4 - CHROME DEVTOOLS - LANDSCAPE - BASE STYLES
@media (min-width: 480px) and (min-height: 320px) and (orientation: landscape) {
  .contactcardscontainer {
    padding-bottom: 3.4rem;
  }

  .contactcard,
  .bgimage {
    height: 3.9rem;
    width: 18rem;
  }

  .textstyle {
    font-size: 1.2rem;
    padding-top: 0.05rem;
  }

  .questionstextstyle {
    padding: 0;
  }

  .socialtextstyle {
    padding-top: 0.1rem;
  }

  .sociallinkcontainer {
    height: 2rem;
    width: 100vw;
  }

  .sociallinks {
    width: 3rem;
    height: inherit;
    bottom: 1.5rem;
  }
}

// NOKIA LUMA 520 - CHROME DEVTOOLS - LANDSCAPE
@media (min-width: 533px) and (min-height: 320px) and (orientation: landscape) {
  .socialtextstyle {
    padding-top: 0.15rem;
  }
}

// IPHONE 5-SE - CHROME DEVTOOLS - LANDSCAPE
@media (min-width: 568px) and (min-height: 320px) and (orientation: landscape) {
  .contactcardscontainer {
    padding-bottom: 3.5rem;
  }

  .sociallinkcontainer {
    width: 90vw;
  }
}

// NEXUS 5 - CHROME DEV TOOLS - LANDSCAPE
@media (min-width: 598px) and (min-height: 280px) and (orientation: landscape) {
  .contactcardscontainer {
    padding-bottom: 3rem;
  }

  .contactcard,
  .bgimage {
    height: 3.3rem;
    width: 20rem;
    margin-bottom: 0.2rem;
  }

  .textstyle {
    font-size: 1.05rem;
    padding: 0;
  }

  .socialtextstyle {
    padding-top: 0.1rem;
  }

  .sociallinkcontainer {
    height: 2rem;
    width: 80vw;
  }

  .sociallinks {
    width: 3rem;
    height: inherit;
    bottom: 1rem;
  }
}

// NEXUS 5 - CHROME DEV TOOLS - LANDSCAPE
@media (min-width: 567px) and (min-height: 335px) and (orientation: landscape) {
  .contactcardscontainer {
    padding-bottom: 3.3rem;
  }

  .contactcard,
  .bgimage {
    height: 4.1rem;
    width: 19rem;
    margin: 0;
    margin-bottom: 0.1rem;
  }

  .textstyle {
    font-size: 1.3rem;
    padding: 0;
  }

  .socialtextstyle {
    padding-top: 0.1rem;
  }

  .sociallinks {
    bottom: 1.5rem;
  }
}

// IPHONE 6 - TESTED W/ NGROK - LANDSCAPE
@media (min-width: 553px) and (min-height: 375px) and (orientation: landscape) {
  .contactcard,
  .bgimage {
    height: 4.7rem;
    width: 21rem;
    margin: 0;
  }

  .textstyle {
    font-size: 1.45rem;
    padding-top: 0.1rem;
  }

  .questionstextstyle {
    padding: 0;
  }

  .sociallinkcontainer {
    height: 2rem;
    width: 85vw;
  }

  .sociallinks {
    width: 3rem;
  }
}

// Galaxy S5- CHROME DEVTOOLS - LANDSCAPE
@media (min-width: 640px) and (min-height: 360px) and (orientation: landscape) {
  .contactcard,
  .bgimage {
    height: 4.6rem;
    width: 21rem;
    margin: 0;
  }

  .textstyle {
    font-size: 1.45rem;
  }

  .sociallinkcontainer {
    width: 85vw;
  }

  .sociallinks {
    width: 3.2rem;
    bottom: 1.3rem;
  }
}

// LG Optimus L70 - CHROME DEVTOOLS - LANDSCAPE
@media (min-width: 640px) and (min-height: 384px) and (orientation: landscape) {
  .sociallinks {
    bottom: 1.5rem;
  }
}

// NEXUS 5X - CHORME DEVTOOLS - LANDSCAPE
@media (min-width: 684px) and (min-height: 332px) and (orientation: landscape) {
  .contactcard,
  .bgimage {
    height: 4.1rem;
    width: 20rem;
    margin-bottom: 0.2rem;
  }

  .textstyle {
    font-size: 1.3rem;
  }

  .sociallinkcontainer {
    width: 85vw;
  }

  .sociallinks {
    width: 3.4rem;
    bottom: 1rem;
  }
}

// IPHONE 6/7/8 - CHROME DEVTOOLS - LANDSCAPE
@media (min-width: 667px) and (min-height: 375px) and (orientation: landscape) {
  .contactcard,
  .bgimage {
    height: 4.7rem;
    width: 21rem;
    margin: 0;
  }

  .textstyle {
    font-size: 1.45rem;
  }

  .socialtextstyle {
    padding-top: 0.15rem;
  }

  .sociallinkcontainer {
    width: 85vw;
  }

  .sociallinks {
    width: 3rem;
    bottom: 1.3rem;
  }
}

// NEXUS 5X - CHORME DEVTOOLS - LANDSCAPE
@media (min-width: 684px) and (min-height: 388px) and (orientation: landscape) {
  // NOTHING NEEDED
}

// IPHONE XR - TESTED W/ NGROK - LANDSCAPE
@media (min-width: 715px) and (min-height: 414px) and (orientation: landscape) {
  .sociallinks {
    width: 2.8rem;
    bottom: 1.7rem;
  }
}

// PIXEL 2 - CHROME DEVTOOLS - LANDSCAPE
@media (min-width: 731px) and (min-height: 411px) and (orientation: landscape) {
  .contactcardscontainer {
    padding-bottom: 3.8rem;
  }
  .contactcard,
  .bgimage {
    height: 4.9rem;
    width: 22rem;
    margin: 0;
  }

  .textstyle {
    font-size: 1.5rem;
  }

  .sociallinks {
    width: 3rem;
    bottom: 2rem;
  }
}

// IPHONE XR - TESTED W/ NGROK - LANDSCAPE
@media (min-width: 800px) and (min-height: 364px) and (orientation: landscape) {
  .contactcardscontainer {
    padding-bottom: 3.2rem;
  }
  .sociallinks {
    width: 3rem;
    bottom: 1.5rem;
  }
}

// IPHONE X - CHROME DEVTOOLS - LANDSCAPE
@media (min-width: 812px) and (min-height: 375px) and (orientation: landscape) {
  // NOTHING NEEDED
}

// NEXUS 6 - CHROME DEVTOOLS - LANDSCAPE
@media (min-width: 732px) and (min-height: 412px) and (orientation: landscape) {
  // NOTHING NEEDED
}

// IPHONE 6/7/8 PLUS - CHROME DEVTOOLS - LANDSCAPE
@media (min-width: 736px) and (min-height: 414px) and (orientation: landscape) {
  // NOTHING NEEDED
}

// PIXEL 2XL- CHROME DEVTOOLS - LANDSCAPE
@media (min-width: 823px) and (min-height: 411px) and (orientation: landscape) {
  .sociallinks {
    width: 3rem;
    bottom: 1.8rem;
  }
}

//NOKIA 9 - CHROME DEVTOOLS - LANDSCAPE
@media (min-width: 854px) and (min-height: 480px) and (orientation: landscape) {
  .contactcard,
  .bgimage {
    margin-bottom: 0.4rem;
  }

  .sociallinkcontainer {
    height: 2.3rem;
    width: 80vw;
  }

  .sociallinks {
    width: 3.5rem;
    bottom: 3rem;
  }
}

// GALAXY FOLD - CHROME DEVTOOLS - LANDSCAPE
@media (min-width: 700px) and (min-height: 500px) and (orientation: landscape) {
  .contactcard,
  .bgimage {
    margin-bottom: 0.4rem;
  }

  .sociallinkcontainer {
    height: 2.3rem;
    width: 80vw;
  }

  .sociallinks {
    width: 3.5rem;
    bottom: 4rem;
  }
}

// SURFACE DUO - CHROME DEVTOOLS - LANDSCAPE
@media (min-width: 720px) and (min-height: 540px) and (orientation: landscape) {
  .sociallinks {
    bottom: 4.5rem;
  }
}

// NEXUS 7 - CHROME DEVTOOLS - LANDSCAPE
@media (min-width: 960px) and (min-height: 600px) and (orientation: landscape) {
  .contactcard,
  .bgimage {
    height: 5.8rem;
    width: 26rem;
    margin-bottom: 0.6rem;
  }

  .textstyle {
    font-size: 1.75rem;
  }
}

// IPAD MINI - TESTED WITH NGROK - LANDSCAPE
@media (min-width: 921px) and (min-height: 665px) and (orientation: landscape) {
  .contactcardscontainer {
    padding: 0;
  }
  .contactcard,
  .bgimage {
    height: 5.8rem;
    width: 26rem;
    margin-bottom: 0.8rem;
  }

  .textstyle {
    font-size: 1.75rem;
  }

  .sociallinks {
    bottom: 5rem;
  }
}

// IPAD MINI 2 - TESTED WITH NGROK - LANDSCAPE
@media (min-width: 921px) and (min-height: 768px) and (orientation: landscape) {
  .contactcard,
  .bgimage {
    margin-bottom: 1rem;
  }

  .sociallinks {
    bottom: 5.5rem;
  }
}

// IPAD 2019 - TESTED WITH NGROK - LANDSCAPE
@media (min-width: 977px) and (min-height: 810px) and (orientation: landscape) {
  // NOTHING NEEDED
}

// BLACKBERRY PLAYBOOK - CHROME DEVTOOLS - LANDSCAPE
@media (min-width: 1024px) and (min-height: 600px) and (orientation: landscape) {
  // NOTHING NEEDED
}

// IPAD - CHROME DEV TOOLS - LANDSCAPE
@media (min-width: 1024px) and (min-height: 768px) and (orientation: landscape) {
  // NOTHING NEEDED
}

// 13" DELL - TESTED W/ NGROK - LANDSCAPE
@media (min-width: 1280px) and (min-height: 578px) and (orientation: landscape) {
  .sociallinkcontainer {
    width: 70vw;
  }
}

// LOW-RES 32INCH MONITOR - TESTED W/ LOCAL MACHINE
@media (min-width: 1360px) and (min-height: 689px) and (orientation: landscape) {
  // NOTHING NEEDED
}

// IPAD PRO - CHROME DEVTOOLS - LANDSCAPE
@media (min-width: 1366px) and (min-height: 1024px) and (orientation: landscape) {
  .contactcard,
  .bgimage {
    height: 6.6rem;
    width: 30rem;
    margin-bottom: 1.5rem;
  }

  .textstyle {
    font-size: 2rem;
  }

  .socialtextstyle {
    padding-top: 0.2rem;
  }

  .sociallinkcontainer {
    width: 60vw;
  }

  .sociallinks {
    bottom: 6.5rem;
  }
}

// MACBOOK PRO 15" TESTED W/ NGROK
@media (min-width: 1440px) and (min-height: 769px) and (orientation: landscape) {
  .contactcard,
  .bgimage {
    height: 6.6rem;
    width: 30rem;
    margin-bottom: 1.5rem;
  }

  .textstyle {
    font-size: 2rem;
  }

  .socialtextstyle {
    padding-top: 0.2rem;
  }

  .sociallinkcontainer {
    width: 60vw;
  }

  .sociallinks {
    bottom: 6rem;
  }
}

// HIGH-RES 32 INCH MONITOR - TESTED W/ LOCAL MACHINE
@media (min-width: 1920px) and (min-height: 969px) and (orientation: landscape) {
  // NOTHING NEEDED
}

// ULTRA-WIDESCREEN - TESTED ON LOCAL MACHINE
@media (min-width: 2560px) and (min-height: 953px) and (orientation: landscape) {
  .sociallinkcontainer {
    width: 50vw;
  }
}

// IMAC 2015 - TESTED ON LOCAL MACHINE
@media (min-width: 2560px) and (min-height: 1361px) and(orientation: landscape) {
  .contactcard,
  .bgimage {
    margin-bottom: 2rem;
  }
  .sociallinks {
    bottom: 7.5rem;
  }
}
